/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr
.log

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
.mvn/
mvnw
mvnw.cmd
kqgl-end.iml
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
target/
# mpeltonen/sbt-idea plugin
.idea_modules/